@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;


<ul class="navbar-nav ms-auto">

    @if(signInManager.IsSignedIn(User))
    {
        <ul class="New-item">

            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>

        </ul>
    }
    else
    {
        <ul class="New-item">

            <a class="nav-link text-dark" asp-controller="Account" asp-action="LogIn">LogIn</a>

        </ul>

        <ul class="New-item">

        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>

        </ul>

    }

</ul>

 

